/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Index*/

body {
    font-family: 'Quicksand', sans-serif;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.logo {
    color: #3472e6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
}

.navbar-brand span {
    color: #3472e6;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.intro-personal {
    width: 100%;
    background-color: #252627fa;
    margin: 10px 0px;
}

.intro-personal img {
    margin: 20px 0px;
    width: 100%;
    border: ridge 2px #3472e6;
}

.intro-personal p {
    margin-top: 40px;
    font-size: 1rem;
    text-align: justify;
    color: whitesmoke;
}

.intro-personal span {
    font-size: 1.1rem;
    font-weight: 800;
    color: #3472e6;
}

.site-footer {
    height: 100%;
}

.iconos a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 10px;
}

.iconos a i:hover {
    color: #3472e6;
    transform: scale(1.5);
    transition: ease-in-out 0.8s;
}

.info-adicional {
    width: 100%;
    background-color: #252627fa;
    margin: 10px 0px;
}

.info-adicional p {
    color: white;
    font-size: 1rem;
    text-align: center;
}

.imagen-info {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px 0px;
}

.imagen-info img {
    border: ridge 2px #3472e6;
    margin-left: 10px;
    width: 300px;
    height: 200px;
}

.imagen-contacto {
    width: 100%;
    height: 100%;
    background-image: url('../images/backgroundcontacto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fila-contacto {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.356);
}

.imagen-contacto img {}

.imagen-contacto h1 {
    font-size: 2.3rem;
    margin-top: 30px;
    color: whitesmoke;
    text-align: center;
}

.imagen-contacto h2 {
    font-size: 2.2rem;
    margin-top: 30px;
    color: whitesmoke;
    text-align: center;
}

.imagen-contacto img {
    width: 100%;

}


@media screen and (min-width:545px) {

    .imagen-info img {
        border: ridge 2px #3472e6;
        margin-left: 10px;
        width: 535px;
        height: 350px;
    }

    .imagen-contacto {
        border-bottom: 1px solid white;
    }

    .imagen-contacto h1 {
        font-size: 1.8rem;
        margin-top: 30px;
        color: whitesmoke;
        text-align: center;
    }

    .imagen-contacto h2 {
        font-size: 1.6rem;
        margin-top: 30px;
        color: whitesmoke;
        text-align: center;
    }

}

@media screen and (min-width:575px) {
    .imagen-contacto {
        width: 100%;
        height: 100%;
        background-image: url('../images/backgroundcontacto.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}

@media screen and (min-width:768px) {

    body p {
        font-size: 4rem;
    }

    .imagen-info img {
        width: 700px;
        height: 500px;
    }

}