header {

    .navbar {
        display: flex;
        justify-content: space-between;
        text-align: center;

        a {
            font-size: 1.8rem;
            font-weight: 300;

            span {
                color: $colorAzul;
            }
        }
    }
}